.shortcut {
	position: relative;
	height: 54px;
}
.logo {
	height: 54px;
	width: 200px;
}
.logo a {
	display: block;
	height: 54px;
	width: 200px;
	background: url(../img/logo.png) no-repeat;
	font-size: 0;
}
.login {
    position: relative;
    height: 600px;
    background: url(../img/bj.jpg) no-repeat;
    background-size: 100%;
	background-attachment: fixed;
}
.login_in {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    margin-left: -300px;
    margin-top: -200px;
    border-radius: 15px;
    background-color: #fff;
}
.nav {
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 75px;
    border-bottom: 2px solid #b1191a;
}
.active{
    border-bottom: 2px solid #c81623;
}
.content{
    width: 100%;
    height: 300px;
}
.content-bd {
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    padding: 10px 50px;
}
.content-bd div {
    margin-top: 20px;
}
.content-bd i {
    display: inline-block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    font-family: 'icomoon';
    color: #fff;
    background-color: #b1191a;
    vertical-align: -2.5px;
    border-radius: 2px;
}
.content-bd input {
    height: 44px;
    width: 340px;
    line-height: 44px;
    border: 2px solid #b1191a;
    padding-left: 10px;
    outline: none;
    margin-left: -2px;
    color: #ccc;

}
.regist input {
    display: block;
    height: 46px;
    width: 400px;
    margin: 10px auto;
    color: #fff;
    font-size: 18px;
    background-color: #b1191a;
    border: 2px solid #b1191a;
} 
.yanzma input {
    width: 200px;
}
.yanzma img {
    height: 40px;
    margin-left: 2px;
}
